html,
body,
#root {
    height: 100%;
}

.full-height {
    height: 100%;
}

.overflow {
    overflow: auto;
}

.container {
    background-color: rgb(156, 0, 0);
    display: flex;
}

.column {
    flex-direction: column;
    min-width: 0;
}

.row {
    flex-direction: row;
    min-height: 0;
}

.item {
    background-color: lightblue;
    border: 1px dashed darkblue;
}

.grow {
    /* flex-grow: 1; */
    flex: 1;
}

#top,
#footer,
#left-top {
    flex-basis: 100px;
}